<!DOCTYPE html>
<html>
    <head>
        <title>404 error</title>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <meta charset="UTF-8">
        <link rel="icon" href="SCE%20ROOM.png">
    </head>
    <body>
    <h1> Error 404: page not found!</h1>
    </body>
