<!DOCTYPE html>
<html>
    <head>
        <title>forgot password</title>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <meta charset="UTF-8">
        <link rel="icon" href="SCE%20ROOM.png">
    </head>
    <body>
         <h2>Password recovery</h2>
         <div id="Password_Recovery" class="container2"> <br>
              <label for="User/Email">Enter your Email</label><br><br>
              <input type="email" id="email"><br><br>
              <button class="button" onclick="resetPassword()" value="Recover Password">
              Recover Password</button><br><br><br><br>&emsp;
              <a class="button" href="login">
              Cancel</a><br><br><br><br>&emsp;
         </div>
         <%- include("./partials/firebase.ejs") %>
         <script type="text/javascript">
              function resetPassword() {
                  auth.sendPasswordResetEmail(document.getElementById("email").value).then(() => {
                      alert("A reset password Email has been sent!")
                      console.log("A reset password Email has been sent!")
                    }).catch(function(error) {
                      console.log(error.message)
                      alert(error.message)
                    })
                  }
         </script>
    </body>
