<!DOCTYPE html>
<html>
    <head>
        <title>homepage</title>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <meta charset="UTF-8">
        <link rel="icon" href="SCE%20ROOM.png">
    </head>
     <body>
         <h1>SCE Room</h1>
         <h2 id="welcome">Your Housing Units</h2>
         <form align="right" name="form1" method="post" action="log_out.php">
            <label class="logoutLblPos">
                <input name="submit2" type="submit" id="submit2" value="Log Out">
            </label>
         </form>
         <a class= "button_write_review" href="upload_apartment.html"> New Upload </a><br><br><br> 
         <a class= "button_watch_review" href= "reviewsaboutme.html"> Watch Review </a><br><br><br>
         <a class= "button_tracking" href= "trackingpage.html"> Tracking</a><br><br>
    </body>