<!DOCTYPE html>
<html>
    <head>
        <title>homepage</title>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <meta charset="UTF-8">
        <link rel="icon" href="SCE%20ROOM.png">
    </head>
    <body>
        <%- include("./partials/logout.ejs") %>
        <h1>SCE Room</h1>
        <h2 id="welcome">Available Housing Units For Rent</h2>
        <a class= "button_write_review" href="write_review"> Write Review</a><br><br><br>
        <h3>Sort</h3>
            <select name="sort">
                <option value="A"></option>
                <option value="B">sort by location</option>
                <option value="C">sort by price</option>
                <option value="D">sort by number of rooms</option>
            </select>
        <ul id="unit-list"></ul>
        <%- include("./partials/firebase.ejs") %>
        <script src="../homepage_student.js"></script>
    </body>
