<!DOCTYPE html>
<html>
    <head>
        <title><%= title%></title>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <meta charset="UTF-8">
        <link rel="icon" href="images/SCE%20ROOM.png">
    </head>
    <body>
        <h1>SCE ROOM</h1>
        <h2 id="welcome">Welcome</h2>
        <div class="container">
                <br><br>
                <a class="button" href="login"> Login </a>&emsp;
                <a class="button" href="signup"> Signup </a>
        </div>
    </body>
</html>
