<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <meta charset="UTF-8">
        <link rel="icon" href="../images/SCE%20ROOM.png">
    </head>
    <body>
        <h1>SCE ROOM</h1>
        <div id="login_div" class="container2">
            <h2>SCE-ROOM login</h2>
            <form id="login_form">
                <input name="email" type="email" placeholder="Email..." id="email_field" required/><br><br>
                <input name="password" type="password" placeholder="Password..." id="password_field" required/><br><br>
                <button type="submit" class="button" id="loginButton">Login to Account</button> <br><br><br><br>
                <a href="forgotpassword">forgot password?</a><br><br>
            </form>
        </div>
        <div id="user_div" class="container2">
          <h3>Welcome User</h3>
          <p id="user_para">Welcome to SCE-ROOM. You're currently logged in.</p>
          <button id="enterSite" type="submit" class="button">Enter site</button>
          <form id="logout" method="post" action="/login">
            <button class="button, logoutButton ">Logout</button>
          </form>
        </div>
      <%- include("./partials/firebase.ejs") %>
      <script type="text/javascript" src="../firebase/signout.js"></script>
      <script src="../pageScripts/auth.js"></script>      
    </body>
</html>
