<!DOCTYPE html>
<html>
    <head>
        <title>login</title>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <meta charset="UTF-8">
        <link rel="icon" href="../images/SCE%20ROOM.png">
    </head>
    <body>

        <h1>SCE ROOM</h1>
        <div id="login_div" class="container2">
            <h2>SCE-ROOM login</h2>
            <form id="login_form" method="post" action="/login">
                <input name="email" type="email" placeholder="Email..." id="email_field" required/><br><br>
                <input name="password" type="password" placeholder="Password..." id="password_field" required/><br><br>
                <button type="submit" class="button" value="Login to Account">Login to Account</button> <br><br><br><br>
                <a href="forgotpassword">forgot password?</a><br><br>
            </form>
        </div>

      <div id="user_div" class="container2">
        <h3>Welcome User</h3>
        <p id="user_para">Welcome to Firebase web login Example. You're currently logged in.</p>
        <button class="button" onclick="redirectLogin('student')">Enter site</button>
        <button class="button" onclick="logout()">Logout</button>
      </div>
      <script> console.log("hellow world") </script>
      <% include("partials/firebase.ejs") %>

      <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-analytics.js"></script>
      <script>
        console.log("hello from firebase")
        // Your web app's Firebase configuration
        var firebaseConfig = {
          apiKey: "AIzaSyCuqm7lR0YYnF8IiarnGQMEfRM-Fs5QpP4",
          authDomain: "sce-room.firebaseapp.com",
          databaseURL: "https://sce-room.firebaseio.com",
          projectId: "sce-room",
          storageBucket: "sce-room.appspot.com",
          messagingSenderId: "289292987021",
          appId: "1:289292987021:web:eb1bcaeef9af28611f50c4",
          measurementId: "G-MT3MN5L1S3"
        };
        // Initialize Firebase
        console.log(firebase.apps.length)
        if (firebase.apps.length == 0){
          firebase.initializeApp(firebaseConfig);
          firebase.analytics();
        }
        console.log(firebase.apps.length)
      </script>
    </body>
</html>
