<!DOCTYPE html>
<html>
    <head>
        <title>homepage</title>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <link rel="stylesheet" type="text/css" href="../css/modal.css">
        <meta charset="UTF-8">
        <link rel="icon" href="SCE%20ROOM.png">
    </head>
    <body>
      <p> hello</p>
      <%- include("./partials/firebase.ejs") %>
      <script type="text/javascript" src="../utility/user.js"></script>
    </body>
</html>
