<!DOCTYPE html>
<html>
    <head>
        <title>Message</title>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <meta charset="UTF-8">
        <link rel="icon" href="SCE%20ROOM.png">
    </head>
    <body>
      <h1> <%=message %></h1>
      <button class="button" onclick="goBack()">Go Back</button>

      <script>
      function goBack() {
        window.history.back()
      }
      </script>
    </body>
