<!DOCTYPE html>
<html>
    <head>
        <title>homepage</title>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <meta charset="UTF-8">
        <link rel="icon" href="SCE%20ROOM.png">
    </head>
    
    <body>
        <h1>SCE Room</h1>
        <h2>Reviews That Written About Me</h2>
        <form align="right" name="form1" method="post" action="log_out.php">
            <label class="logoutLblPos">
                <input name="submit2" type="submit" id="submit2" value="log out">
            </label>
        </form>
        <a class= "button_write_review" href="homepage_renter.html"> Back </a><br><br><br>
    </body>