<!DOCTYPE html>
<html>
    <head>
        <title>sign up</title>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <meta charset="UTF-8">
        <link rel="icon" href="SCE%20ROOM.png">
    </head>
    <body>
        <h1>SCE ROOM</h1>
        <h2>Sign up</h2>
        <div id = "signup" class= "container">
            <form onsubmit="signUp()"  id="SignupForm">
                <br>
                <label for="usertype">User type</label><br>
                <div id= "user_type">
                    <input type="radio" id="student" name="usertype" value="student" onclick="userType(value)" checked="checked" >
                    <label for="student">Student</label>
                    <input type="radio" id="renter" name="usertype" value="renter" onclick="userType(value)">
                    <label for="renter">Renter</label><br><br>
                </div>
                <label for="Email">Email</label>
                <input placeholder="Email" type="text" name="email" required><br><br>
                <label for="password">Password</label>
                <input onblur="passwordStrength(value)" placeholder="Password" type="password" name="pass" required><br>
                <span id="passwordCheck">Must contain at least 8 characters, a capital letter, a lowercase letter, a number, and a special sign</span><br>
                <label for="Username">Username</label>
                <input placeholder="UserName" type="text"  name="username" required><br><br>
                <label for="fname">First name</label>
                <input placeholder="First name" type="text" name="fname" required><br><br>
                <label for="lname">Last name</label>
                <input placeholder="Last name" type="text" name="lname" required><br><br>
                <div id="bank_account" style="display: none">
                    <label for="lname" >Bank Account number</label> <!--only for Renters-->
                    <input placeholder="Bank account"  type="text" name="bank"><br><br> <!--add required field-->
                </div>
                <div id="imgup">
                    <label for="img">Add student ID</label> <!--only for Students-->
                    <input type="file" name="img" accept="image/*"><br><br> <!--add required field-->
                    <a href=http://asce.co.il>Don't have Student card?</a><br><br><br>
                </div>
                <input type="checkbox" name="checkbox" value="check" required/>
                I have read and agree to the <a href="terms&conditions.html">Terms and Conditions and Privacy Policy.</a><br><br><br>
                <input class= "button" type="submit" value="Sign up">
            </form>
      </div>
      <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-auth.js"></script>
      <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-firestore.js"></script>
      <script src="../firebase.js"></script>
      <script src="../signup.js"></script>
    </body>
</html>
