<!DOCTYPE html>
<html>
    <head>
        <title>sign up</title>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <meta charset="UTF-8">
        <link rel="icon" href="SCE%20ROOM.png">
    </head>
    <h1>Terms and conditions</h1>
    <div id="TC">
        <h3>1.This site is none-profit something something.</h3>
        <h3>2. Don't sue us for stuff renters do, sue them.</h3>
        <h3>3. We won't sell your credit card data and it will be encrypted.</h3>
        <h3>4. all the transitions are made with external services we do not handle so if anything happens it's their fault not ours.</h3>
        <h3>5. All the user management is our responsibility the user belongs to us.</h3>
        <h3>6. before signing up as a student you must show your student card.</h3>
    </div>