<!DOCTYPE html>
<html>
    <head>
        <title>write review about renter</title>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <meta charset="UTF-8">
        <link rel="icon" href="SCE%20ROOM.png">
    </head>

    <body>
        <h1>Tracking Page</h1>
        <h2>Business conduct by...</h2>
        <select name="sort" class="center" >
                <option value="A"></option>
                <option value="B">Business conduct by time</option>
                <option value="C">Business conduct by price</option>
                <option value="D">Business conduct by location of housing units</option>
                <option value="E">Business conduct by amount of rooms in a housing unit</option>
                <option value="F">Business conduct by unit visibility</option>
        </select>    
        <a class= "button_write_review" href="homepage_renter.html"> Back </a><br><br><br>
    </body>
