<!DOCTYPE html>
<html>
    <head>
        <title>write review about renter</title>
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <meta charset="UTF-8">
        <link rel="icon" href="SCE%20ROOM.png">
    </head>

    <body>
        <%- include("./partials/logout.ejs") %>
        <h1>Write Review</h1>
        <div id = "write_review" class= "container3">
          <label for="Review">Review</label><br><br><br>
          <label for="Renter's Name" id = "renter_name"></label><br><br>
          <label for="location" id = "unit_address"></label><br><br>
          <label for="Student's Review">Your Review</label><br><br>
            <form id = "review_form" >
                <br>
                <textarea id = "review_body" name = "body" rows="7" cols="35" name="text review"></textarea><br><br><br><br>
                <br><br>
                <input type = "submit" class= "button" value = "Post"></input><br><br><br>
            </form>
            <a class= "button_write_review" href="homepage_student">Cancel</a><br><br><br>
        </div>
        <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-firestore.js"></script>
        <script src="../firebase.js"></script>
        <script src="../write_review.js"></script>
    </body>
